<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title th:utext="|${article.title} - ${article.author} - 陈文杰的个人网站|"></title>
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">
  </head>

  <body>
  	<!-- 导航栏  -->
  	<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="../blog">主页</a>
          <a class="blog-nav-item active" href="#">博客文章</a>
          <a class="blog-nav-item" href="#">数据监控</a>
          <a class="blog-nav-item" href="#">留言板</a>
          <a class="blog-nav-item" href="#">关于本站</a>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title" th:utext="${article.title}" >The Blog Title</h1>
        <p class="lead blog-description" th:utext="${article.description}">Description</p>
      </div>
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h3 class="blog-post-title" th:utext="${article.postTitle}">Sample blog post</h3>
            <p><span class="blog-post-meta"  th:text="|发表于: ${#dates.format(article.date,'yyyy-MM-dd HH:mm:ss')}|">2017-12-05</span> <span th:text="|，作者: ${article.author}|">Author</span></p>
           	<hr> 
            <p id="content" th:utext="${article.content}" >content</p>
            <hr>         
          </div>

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>作者介绍</h4>
            <p><b><span th:text="${article.author}"></span></b> &nbsp;致力于成为朋友圈最闲的程序员，目前正在开发自己的个人网站。</p>
          </div>
          <div class="sidebar-module">
            <h4>博文归档</h4>
            <ol class="list-unstyled">
              <li><a href="#">2015年9月</a></li>
              <li><a href="#">2016年6月</a></li>
              <li><a href="#">2017年7月</a></li>
              <li><a href="#">2017年10月</a></li>
              <li><a href="#">2017年12月</a></li>
			</ol>
          </div>
          <div class="sidebar-module">
            <h4>词云</h4>
            <ol class="list-unstyled">
              <li><a href="#">Java</a></li>
              <li><a href="#">Spring</a></li>
              <li><a href="#">MySQL</a></li>
              <li><a href="#">HTML</a></li>
              <li><a href="#">BootStrap</a></li>
			</ol>
          </div>
          <div class="sidebar-module">
            <h4>关注我</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/git-nevermore">GitHub</a></li>
              <li><a href="#">WeChat</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

	<!-- 页脚内容  -->
    <footer class="blog-footer">
      <p> Since 2017-12-05 | <span> Powered by <a href="#">chenwenjie</a> </span></p> 
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

  	<!-- 将部分JS 代码放置在HTML 末尾以加快页面响应速度 -->
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
  </body>
</html>
