<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>登录 - 陈文杰的个人网站</title>
<link href="image/icon.png" rel="icon" type="image/x-icon" />
<link href="css/index.css" rel="stylesheet" />
<link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="css/bootstrap/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
	<div id="div_backgroup">
		<img alt="卓尔小黑" width="100%" height="auto" src="image/dota2/dr.jpg">
	</div>
	
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<div id="div_login_form">
				<h2 class="center" style="margin:20px;">登陆博客</h2>
				<div class="form-group">
					<div class="div_input">
						<input class="form-control" type="text" placeholder="用户名" id="username" />
					</div>
				</div>
				<div class="form-group">
					<div class="div_input">
						<input class="form-control" type="password" placeholder="密码" id="password" />
					</div>
				</div>
				<div class="form-group">
					<div class="div_input">
						<input type="button" class="btn btn-primary btn-block" value="登录" id="login" />
					</div>
				</div>
				<div class="form-group">
					<div class="div_input">
						<a href="registry"><i>没有账号?点击这里注册一个吧！</i></a>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
<script type="text/javascript" src="js/lib/jquery.js"></script>
<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/login.js"></script>
</html>